@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  color: inherit;
}

*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

address,
em,
i {
  font-style: normal;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.025em;
  word-break: keep-all;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .section {
    padding: 70px 0;
  }
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.title {
  max-width: 1200px;
  margin: 0 auto 38px auto;
  padding: 0 15px;
}
.title h2 {
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
  text-indent: -2px;
}
.title p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .title h2 {
    font-size: 40px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .ht {
  height: 30px;
  background: url(../images/header_top.jpg) no-repeat center center/cover;
}
.header .ht .hills {
  display: flex;
  justify-content: flex-end;
}
.header .hb {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 90px;
  transition: 0.5s;
}
.header .hb::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 100px);
  height: 1px;
  background: #999;
  opacity: 50%;
  transition: 0.5s;
}
.header .hb:hover {
  background: #fff;
}
.header .hb:hover::before {
  width: 100%;
}
.header h1 {
  z-index: 1000;
}
.header .gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
}
.header .gnb > ul {
  display: flex;
  gap: 10px;
}
.header .gnb > ul::before {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 0;
  background: #fff;
  border-bottom: 0 solid #e5e5e5;
  transition: 0.5s;
}
.header .gnb > ul::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 1000;
  width: 1200px;
  height: 0;
  background: url(../images/BG-premium.png) no-repeat center center/cover;
  transform: rotate(180deg);
  opacity: 80%;
  transition: 0.5s;
}
.header .gnb > ul > li {
  position: relative;
}
.header .gnb > ul > li > a {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 90px;
  transition: 0.5s;
  padding: 0 30px;
}
.header .gnb > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 2px;
  background: #9a1915;
  transition: width 0.5s;
}
.header .gnb > ul > li .sub {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1001;
  width: 110px;
  height: 0;
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  transition: 0.5s;
}
.header .gnb > ul > li .sub > li a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
}
.header .gnb > ul > li .sub > li:hover a {
  color: #9a1915;
}
.header .gnb > ul > li:hover > a {
  color: #9a1915;
}
.header .gnb > ul > li:hover > a::after {
  width: 100%;
}
.header .gnb > ul:hover::before {
  height: 360px;
  border-bottom: 1px solid #e5e5e5;
}
.header .gnb > ul:hover::after {
  height: 360px;
}
.header .gnb > ul:hover > li .sub {
  height: 340px;
}
.header .user_area {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 1000;
}
.header .user_area .tel {
  font-size: 22px;
  font-weight: 700;
  color: #9a1915;
}
.header .user_area .tel::before {
  content: "\f5c1";
  font-family: bootstrap-icons;
  transform: translate(0, -50%);
  margin: 0 4px 0 0;
  font-size: 15px;
  font-weight: 100;
}
.header .user_area .hamburger {
  font-size: 30px;
  cursor: pointer;
}
.header::before {
  content: "";
  position: absolute;
  top: 120px;
  right: 87px;
  z-index: -1;
  width: 1px;
  height: 50px;
  background: #999;
}
.header::after {
  content: "grand open";
  position: absolute;
  top: 150px;
  right: 30px;
  z-index: -1;
  width: 110px;
  height: 110px;
  background: #9a1915;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 0 0 0;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.header.on .hb {
  background: #fff;
}
.header.on .hb::before {
  width: 100%;
  background: #e5e5e5;
}
.header .mmenu {
  display: none;
}

@media (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    left: auto;
    right: auto;
  }
  .header .ht {
    display: none;
  }
  .header .hb {
    position: relative;
    padding: 0 0;
    height: 80px;
    transition: 0;
    background: #fff;
    transition: 0;
  }
  .header .hb::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    transition: 0;
  }
  .header h1 {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 1000;
  }
  .header h1 img {
    width: 250px;
  }
  .header h1.on img {
    filter: brightness(200);
  }
  .header .gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    left: auto;
    right: -100%;
    transform: translate(0, 0);
    z-index: 999;
    width: 100%;
    background: #9a1915;
    display: block;
    transition: 0.5s;
  }
  .header .gnb.on {
    right: 0;
  }
  .header .gnb > ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 100px 24px 0 24px;
  }
  .header .gnb > ul::before {
    display: none;
  }
  .header .gnb > ul::after {
    display: none;
  }
  .header .gnb > ul > li > a {
    line-height: 50px;
    color: #f9f8f7;
    transition: 0;
    padding: 0 0;
  }
  .header .gnb > ul > li > a::before {
    content: "\f63b";
    font-family: bootstrap-icons;
    color: #e5e5e5;
    font-size: 12px;
    margin: 0 10px 0 0;
    opacity: 50%;
  }
  .header .gnb > ul > li > a::after {
    display: none;
  }
  .header .gnb > ul > li .sub {
    position: static;
    top: 0;
    transform: translate(0, 0);
    z-index: 1001;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
    transition: 0s;
    display: none;
  }
  .header .gnb > ul > li .sub > li a {
    background: #f9f8f7;
  }
  .header .gnb > ul > li .sub > li:not(:first-child) {
    border-top: 1px solid #e5e5e5;
  }
  .header .gnb > ul > li:hover > a {
    color: #f9f8f7;
  }
  .header .gnb > ul:hover > li .sub {
    height: auto;
    transform: translate(0, 0);
  }
  .header .user_area {
    position: fixed;
    bottom: 0;
    right: -100%;
    z-index: 999;
    width: 100%;
    height: 50px;
    background: #222;
    justify-content: center;
  }
  .header .user_area.on {
    right: 0;
    transition: 0.5s;
  }
  .header .user_area .tel {
    color: #e5e5e5;
  }
  .header .user_area .tel::before {
    color: #999;
  }
  .header .user_area .hamburger {
    display: none;
  }
  .header::before {
    display: none;
  }
  .header::after {
    display: none;
  }
  .header .mmenu {
    display: block;
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 1001;
    width: 35px;
    height: 35px;
    background: #9a1915;
    border: 1px solid #9a1915;
  }
  .header .mmenu::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #fff;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  .header .mmenu::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #fff;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  .header .mmenu > i::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #fff;
    transform: translate(0, -50%);
    transition: 0.5s;
  }
  .header .mmenu > i::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #fff;
    transform: translate(0, -50%);
    transition: 0.5s;
  }
  .header .mmenu.on {
    background: #fff;
  }
  .header .mmenu.on::before {
    opacity: 0;
    visibility: hidden;
  }
  .header .mmenu.on::after {
    opacity: 0;
    visibility: hidden;
  }
  .header .mmenu.on > i::before {
    background: #9a1915;
    transform: translate(0, -50%) rotate(45deg);
  }
  .header .mmenu.on > i::after {
    background: #9a1915;
    transform: translate(0, -50%) rotate(-45deg);
  }
}
.main_visual {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.main_visual .main_slide .itm {
  position: relative;
  min-height: 1000px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 130%;
}
.main_visual .main_slide .itm::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgba(0, 0, 0, 0.6) 100%);
}
.main_visual .main_slide .itm.on {
  background-size: auto 100%;
  transition: 2s;
}
.main_visual .main_slide .itm01 {
  background-image: url(../images/mainVisual01.jpg);
}
.main_visual .main_slide .itm02 {
  background-image: url(../images/mainVisual02.jpg);
}
.main_visual .ms_slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 30%;
  text-align: center;
}
.main_visual .ms_slogan p {
  font-size: 30px;
  line-height: 34px;
  font-weight: 300;
  margin: 0 0 8px 0;
}
.main_visual .ms_slogan p strong {
  color: #9a1915;
}
.main_visual .ms_slogan h3 {
  font-size: 68px;
  line-height: 72px;
  font-weight: 700;
  margin: 0 0 32px 0;
  color: #9a1915;
}
.main_visual .ms_slogan span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}
.main_visual .scroll {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 15px black;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main_visual .arrows {
  cursor: pointer;
}
.main_visual .arrows .left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 0 -850px;
  display: block;
  padding: 45px 0 45px 20px;
}
.main_visual .arrows .left::before {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background: #4d4a43;
  transform: rotate(45deg) translate(0, 32px);
  border-radius: 50px;
}
.main_visual .arrows .left::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background: #4d4a43;
  transform: rotate(-45deg) translate(0, -33px);
  border-radius: 50px;
}
.main_visual .arrows .right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 0 850px;
  padding: 45px 20px 45px 0;
}
.main_visual .arrows .right::before {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background: #4d4a43;
  transform: rotate(-45deg) translate(0, 33px);
  border-radius: 50px;
}
.main_visual .arrows .right::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background: #4d4a43;
  transform: rotate(45deg) translate(0, -33px);
  border-radius: 50px;
}

@media (max-width: 768px) {
  .main_visual {
    height: 450px;
  }
  .main_visual .main_slide .itm {
    background-position: center top;
    min-height: 500px;
    background-size: auto 120%;
  }
  .main_visual .ms_slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 56px;
    transform: translate(-50%, 0);
    width: calc(100% - 100px);
    text-align: center;
  }
  .main_visual .ms_slogan p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
  .main_visual .ms_slogan h3 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 0 0 16px 0;
  }
  .main_visual .ms_slogan span {
    font-size: 10px;
    font-weight: 500;
  }
  .main_visual .scroll {
    display: none;
  }
  .main_visual .arrows {
    display: none;
  }
}
.main_premium {
  position: relative;
}
.main_premium::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1200px;
  height: 100%;
  background: url(../images/BG-premium.png) no-repeat center center/cover;
}
.main_premium .title {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  color: #4d4a43;
  margin: 0 auto 48px auto;
}
.main_premium .title p {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 8px 0;
}
.main_premium .premium_line .benefit {
  position: relative;
  text-align: center;
  margin: 10px 15px;
  padding: 112px 20px 56px 20px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.main_premium .premium_line .benefit h3 {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin: 0 0 16px 0;
}
.main_premium .premium_line .benefit p {
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
.main_premium .premium_line .benefit::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 50px;
}
.main_premium .premium_line .benefit::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: -16px;
  height: 80px;
  width: 1px;
  background: #999;
  opacity: 0%;
}
.main_premium .premium_line .bf01::before {
  background: url(../images/premium-icon.png) no-repeat 0% center;
}
.main_premium .premium_line .bf02::before {
  background: url(../images/premium-icon.png) no-repeat 14.5% center;
}
.main_premium .premium_line .bf03::before {
  background: url(../images/premium-icon.png) no-repeat 28.7% center;
}
.main_premium .premium_line .bf04::before {
  background: url(../images/premium-icon.png) no-repeat 43% center;
}
.main_premium .premium_line .bf05::before {
  background: url(../images/premium-icon.png) no-repeat 57% center;
}
.main_premium .premium_line .bf06::before {
  background: url(../images/premium-icon.png) no-repeat 71.5% center;
}
.main_premium .premium_line .bf07::before {
  background: url(../images/premium-icon.png) no-repeat 86% center;
}
.main_premium .premium_line .bf08::before {
  background: url(../images/premium-icon.png) no-repeat 100% center;
}
.main_premium .slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}
.main_premium .slick-dots > li {
  display: inline-block;
  margin: 0 2px;
}
.main_premium .slick-dots > li button {
  outline: none;
  border: none;
  background: #e5e5e5;
  font-size: 12px;
  padding: 1px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #444;
}
.main_premium .slick-dots > li.slick-active button {
  background: #d3c6bc;
}
.main_premium .premium_arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main_premium .premium_arrows i {
  background: #f9f8f7;
  color: #4d4a43;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.main_premium .premium_arrows .left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15px);
  padding: 13px 15px 13px 13px;
  margin: 0 0 0 -630px;
}
.main_premium .premium_arrows .right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15px);
  padding: 13px 13px 13px 15px;
  margin: 0 0 0 630px;
}

@media (max-width: 768px) {
  .main_premium .title {
    display: block;
    text-align: center;
    margin: 0 auto 24px auto;
  }
  .main_premium .title p {
    font-size: 16px;
    line-height: 20px;
  }
  .main_premium .benefit {
    position: relative;
    text-align: center;
    margin: 0 5px;
    padding: 112px 0px 56px 0px;
  }
  .main_premium .premium_arrows {
    width: 100%;
  }
  .main_premium .premium_arrows .left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, 0);
    padding: 13px 15px 13px 13px;
    margin: 0 0 0 0;
  }
  .main_premium .premium_arrows .right {
    position: absolute;
    top: 50%;
    left: auto;
    right: 10px;
    transform: translate(0, 0);
    padding: 13px 13px 13px 15px;
    margin: 0 0 0 0;
  }
}
.main_unit {
  position: relative;
  background: url(../images/BG-mainproduct-edit.jpg) no-repeat center 30%/cover;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.main_unit .content {
  display: grid;
  grid-template-columns: 400px 1fr;
  justify-content: space-between;
  gap: 30px;
}
.main_unit .content .left {
  width: 400px;
}
.main_unit .content .left .tit {
  margin: 0 0 56px 0;
}
.main_unit .content .left .tit h3 {
  font-size: 64px;
  font-weight: 700;
  color: #9a1915;
  text-indent: -2px;
  text-transform: uppercase;
}
.main_unit .content .left .tit span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.3px;
}
.main_unit .content .left p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 48px 0;
  color: #444;
}
.main_unit .content .left a {
  display: inline-block;
  padding: 20px 112px 18px 46px;
  background: #9a1915;
  color: #fff;
}
.main_unit .content .left a > span {
  position: relative;
}
.main_unit .content .left a > span::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: -61px;
  transform: translate(0, -50%) rotate(-45deg);
  width: 1px;
  height: 10px;
  background: #e5e5e5;
  transition: 0.5s;
}
.main_unit .content .left a > span::after {
  content: "";
  position: absolute;
  top: calc(50% + 3px);
  right: -65px;
  transform: translate(0, -50%);
  display: block;
  width: 50px;
  height: 1px;
  background: #e5e5e5;
  transition: 0.5s;
}
.main_unit .content .left a:hover > span::before {
  transform: translate(10px, -50%) rotate(-45deg);
}
.main_unit .content .left a:hover > span::after {
  transform: translate(10px, -50%);
}
.main_unit .content .right {
  width: 1000px;
}
.main_unit .content .product {
  padding: 18px 0;
}
.main_unit .content .product figure {
  position: relative;
  transform: translate(0, 0);
  transition: 0.5s;
  margin: 0 15px;
  outline: 3px solid rgba(154, 25, 21, 0);
}
.main_unit .content .product figure .desc {
  padding: 30px 0;
  background: #9a1915;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #fff;
}
.main_unit .content .product figure .desc strong {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.main_unit .content .product figure .desc strong::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translate(0, -50%);
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.3);
}
.main_unit .content .product figure .desc span {
  font-size: 16px;
}
.main_unit .content .product:hover figure {
  transform: translate(0, -15px);
}
.main_unit .content .product.on figure {
  transform: translate(0, -15px);
  outline: 3px solid #9a1915;
}
.main_unit .content .unit_arrows {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  margin: 0 15px 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main_unit .content .unit_arrows i {
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  background: #fff;
  color: #9a1915;
  border: 1px solid #9a1915;
  transition: 0.5s;
}
.main_unit .content .unit_arrows i:hover {
  background: #9a1915;
  color: #fff;
}

@media (max-width: 768px) {
  .main_unit {
    height: 100%;
    background-position: center top;
  }
  .main_unit .content {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
  }
  .main_unit .content .left {
    width: 100%;
    text-align: center;
  }
  .main_unit .content .left .tit {
    margin: 0 0 32px 0;
  }
  .main_unit .content .left .tit h3 {
    font-size: 40px;
    font-weight: 600;
  }
  .main_unit .content .left .tit span {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .main_unit .content .left p {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 32px 0;
    color: #444;
    display: none;
  }
  .main_unit .content .left a {
    display: inline-block;
    padding: 12px 40px 11px 40px;
    background: #9a1915;
    color: #fff;
  }
  .main_unit .content .left a > span::before {
    display: none;
  }
  .main_unit .content .left a > span::after {
    display: none;
  }
  .main_unit .content .right {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .main_unit .content .product {
    padding: 0 0;
    margin: 0 0;
  }
  .main_unit .content .product figure {
    margin: 0;
  }
  .main_unit .content .product figure .img_box img {
    width: 100%;
  }
  .main_unit .content .product figure .desc {
    right: 0;
    padding: 0 0;
    height: 100px;
    justify-content: flex-start;
    padding: 0 30px;
    border-top: 1px solid #9a1915;
  }
  .main_unit .content .product:hover figure {
    transform: translate(0, 0);
  }
  .main_unit .content .product.on figure {
    transform: translate(0, 0);
  }
  .main_unit .content .unit_arrows {
    position: absolute;
    bottom: 0;
    right: 1px;
    display: block;
    margin: 0;
  }
  .main_unit .content .unit_arrows i {
    display: block;
    width: 49px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    background: #fff;
    color: #9a1915;
    border: 1px solid #9a1915;
    transition: 0.5s;
  }
  .main_unit .content .unit_arrows i:hover {
    background: #fff;
    color: #9a1915;
  }
  .main_unit .content .unit_arrows .left {
    position: absolute;
    bottom: 51px;
    right: 0;
    border: 0;
    border-top: 1px solid #9a1915;
  }
  .main_unit .content .unit_arrows .right {
    position: absolute;
    bottom: 1px;
    right: 0;
    border: 0;
  }
}
.main_news .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4d4a43;
}
.main_news .title a {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main_news .title a span {
  position: relative;
}
.main_news .title a span::after {
  content: "\f4fe";
  font-family: bootstrap-icons;
  margin: 0 0 0 3px;
  vertical-align: -2px;
  color: #9a1915;
}
.main_news .content .news_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 100%;
}
.main_news .content .news_list a {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 40px 32px;
  border: 1px solid #e5e5e5;
  transform: translate(0, 0);
  transition: 0.5s;
}
.main_news .content .news_list a:hover {
  transform: translate(0, -10px);
}
.main_news .content .news_list strong {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin: 0 0 8px 0;
  color: #9a1915;
}
.main_news .content .news_list h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 24px 0;
  color: #333;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.main_news .content .news_list p {
  font-size: 16px;
  line-height: 22px;
  color: #666;
  margin: 0 0 auto 0;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.main_news .content .news_list span {
  font-size: 14px;
  font-weight: 600;
  color: #999;
}

@media (max-width: 768px) {
  .main_news .title {
    padding: 0 20px;
  }
  .main_news .content {
    padding: 0 20px;
  }
  .main_news .content .news_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .main_news .content .news_list a {
    height: 100%;
    padding: 35px 24px;
  }
  .main_news .content .news_list a:hover {
    transform: translate(0, 0);
  }
  .main_news .content .news_list h3 {
    margin: 0 0 16px 0;
  }
  .main_news .content .news_list p {
    margin: 0 0 24px 0;
  }
}
.footer {
  padding: 72px 0;
  background: #f9f8f7;
  border-top: 1px solid #e5e5e5;
}
.footer .inner {
  text-align: center;
}
.footer .ft {
  position: relative;
}
.footer .ft h2 {
  margin: 0 0 24px 0;
}
.footer .ft h2 img {
  width: 100px;
}
.footer .ft .foot_cooperation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  margin: 0 0 64px 0;
}
.footer .ft .foot_cooperation li {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.footer .ft .foot_cooperation li > span {
  font-size: 14px;
  font-weight: 700;
}
.footer .ft .foot_cooperation li:not(:first-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -25px;
  width: 1px;
  height: 14px;
  background: #e5e5e5;
}
.footer .ft::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}
.footer .fb .foot_agency {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0 0 24px 0;
}
.footer .fb .foot_agency strong {
  font-weight: 700;
  color: #9a1915;
}
.footer .fb .foot_agency li {
  position: relative;
}
.footer .fb .foot_agency li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(0, -50%);
  width: 1px;
  height: 12px;
  background: #e5e5e5;
}
.footer .fb .copy {
  font-size: 14px;
  line-height: 18px;
  color: #999;
}

@media (max-width: 768px) {
  .footer {
    padding: 56px 0;
  }
  .footer .ft {
    position: relative;
  }
  .footer .ft h2 {
    margin: 0 0 32px 0;
  }
  .footer .ft h2 img {
    width: 72px;
  }
  .footer .ft .foot_cooperation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 0 80px 0;
  }
  .footer .ft .foot_cooperation .img_box {
    width: 100px;
  }
  .footer .ft .foot_cooperation li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer .ft .foot_cooperation li:not(:first-child)::before {
    display: none;
  }
  .footer .ft::after {
    bottom: -40px;
  }
  .footer .fb .foot_agency {
    display: block;
    margin: 0 0 24px 0;
    text-align: left;
  }
  .footer .fb .foot_agency strong {
    font-weight: 700;
    color: #9a1915;
  }
  .footer .fb .foot_agency li {
    position: relative;
    margin: 16px 0;
  }
  .footer .fb .foot_agency li:not(:first-child)::before {
    display: none;
  }
  .footer .fb .copy {
    font-size: 12px;
    text-align: left;
  }
}
.to_top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: none;
}
.to_top span {
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background: #4d4a43;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .to_top span {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #4d4a43;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
  }
}/*# sourceMappingURL=style.css.map */